SECRET_KEY=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

CELERY_BROKER_URL=redis://redis:6379/0
TASK_STATE_REDIS_URL=redis://redis:6379/1
PROFILE_SYNC_FRESHNESS_SECONDS=900
PROFILE_SYNC_ACTIVE_TTL_SECONDS=600
TASK_RESULT_TTL_SECONDS=86400
PROFILE_SYNC_SOFT_TIME_LIMIT_SECONDS=300
PROFILE_SYNC_HARD_TIME_LIMIT_SECONDS=330
CELERY_BROKER_VISIBILITY_TIMEOUT_SECONDS=900
