SECRET_KEY=

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

CELERY_BROKER_URL=redis://redis:6379/0
TASK_STATE_REDIS_URL=redis://redis:6379/1
PROFILE_SYNC_FRESHNESS_SECONDS=900
PROFILE_SYNC_ACTIVE_TTL_SECONDS=600
TASK_RESULT_TTL_SECONDS=86400
PROFILE_SYNC_SOFT_TIME_LIMIT_SECONDS=300
PROFILE_SYNC_HARD_TIME_LIMIT_SECONDS=330
CELERY_BROKER_VISIBILITY_TIMEOUT_SECONDS=21600
MAINTENANCE_REDIS_URL=redis://redis:6379/2
MAINTENANCE_LOCK_TTL_SECONDS=21600
MAINTENANCE_SOFT_TIME_LIMIT_SECONDS=18000
MAINTENANCE_HARD_TIME_LIMIT_SECONDS=21000
FILM_QUEUE_BATCH_SIZE=100
NEW_ELIGIBLE_USERS_THRESHOLD=100
NEW_MODEL_FILMS_THRESHOLD=250
MAX_MODEL_AGE_DAYS=180
MODEL_RETENTION_PREVIOUS=2
MODEL_POINTER_CHECK_INTERVAL_SECONDS=30
