fastapi
uvicorn
pydantic
pydantic-settings
sqlalchemy
alembic
asyncpg
psycopg2-binary 
numpy
pandas
scikit-learn
joblib
letterboxdpy==6.5.7
python-multipart
faiss-cpu==1.14.3
celery[redis]==5.6.3
typer        
python-dotenv
rich
pytest
